<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加子类别</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function SubForm() {
            $("#addForm").submit();
        }
    </script>
</head>
<body>
为{{.classInfo.ClassName}}添加子类别
<form data-ajax="true" data-ajax-method="post" data-ajax-success="afterAdd" data-ajax-url="/Admin/ArticelClass/AddChildClass" id="addForm">
  <input type="hidden" name="classId" value="{{.classInfo.Id}}">
    <table>
        <tr><td>类别名</td><td><input type="text" name="className"></td></tr>
        <tr><td>备注</td><td><input type="text" name="remark"></td></tr>
    </table>
</form>
</body>
</html>